
<% @users.each do |user| %>
    <%= user.email %>
    </h4> 
  
  <% @orders.where(user_id: user.id).each  do |order| %>
    
      <li>
        <%= order.first_name %>
        <%= order.last_name %> </li>

        <% @items.where(order_id: order.id).each do |item| %>
        <li>
          
          <%= item.price %>
          <%= item.quantity %></li>
        <% end %>                       
      </li> 
    <% end %>
  <% end %>
      
