<div class="container">
    	<h1> Commande en cours</h1>
  <div class="row">
    <div class="col-xs-12 col-sd-12 col-md-7 col-right-payment ">
      <h2> WeedLife </h2>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" ><a href="/cart/">Cart</a></li>
          <li class="breadcrumb-item"><a href="/cart/checkout">Information client</a></li>
          <li class="breadcrumb-item"aria-current="page">Livraison</li>
          <li class="breadcrumb-item">Paiement</li>
        </ol>
      </nav> 
    </div>
	
    <div class="col-xs-12 col-sd-12 col-md-5">
      <h2> Résumé commande</h2>
    

      <% current_cart.order.items.each do |item| %> 
          <div class="product">
          <div class="flexbox-mini">
            <div class="product-image">
              <%= cl_image_tag item.product.photo, width: 100, height: 100%>
              <span class="quantity-product" aria-hidden="true"><%= item.quantity.to_i %></span>
              </div>
                
                <div class="product-title"><%= link_to item.product.title, category_product_path(item.id, item.product_id) %></div>
            
                <div class="product-line-price">
                  <%= item.price * item.quantity %>           
              </div>

          </div>
          </div>
          
          
      <% end %>
      <div class="totals">
        <div class="totals-item">
          <label>Total</label>
          <div class="totals-value" id="cart-subtotal"><strong><%= current_cart.sub_total %></strong></div>
        </div>
      </div>
    </div>
   
		

    </div>
	</div>

      <%= form_tag charges_path, id:'chargeForm' do %>

          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'stripeEmail' %> 
        <%= hidden_field_tag 'amount', current_cart.price_stripe.to_i %>
        <button id="btn-buy" type="btn" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Buy this!</button>
  <% end%> 
</div> 

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>



  <script >
    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      token: function(token, arg) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;

        document.getElementById("chargeForm").submit();
        }
  });
  document.getElementById('btn-buy').addEventListener('click', function(e) {
    handler.open({
      user: "Blabla",
      description: "Buy this item for 4.99$",
      status: '<%= current_cart.order.status %>',
      amount: document.getElementById("amount").value
      });
      e.preventDefault();
    })

  </script>
