<div class="container">
  <div class="row">
      <h1> Paiement </h1>
    <div class="col-xs-12 col-sd-12 col-md-6 ">
      <h2> Info commande en cours</h2>  
        <% current_cart.order.items.each do |item| %>
            <h3><%= item.product.category.title %> </h3>
            <h5>Name: <%= item.product.title %><h5>
            <p>Price: <%= item.product.price %> Quantity: <%= item.quantity.to_i %></p>
            <% end %>
            <br>
            <p>Sub-Total: <%= current_cart.sub_total %>€</p>
            <p>Shipping Cost: <%= current_cart.shipping_cost %>€</p>
            <p>TVA: <%= current_cart.tva %>€</p>
            <p>Price Total: <%= current_cart.price_total %>€</p>

      <button type="button" class="btn btn-primary" style="color: white"><%= link_to 'Modif Cart', cart_path %></button>
    </div>
    <div class="col-ld-12 col-md-6 col-sd-6 col-xs-6">
      <h2>Infos personnelles </h2>
      <%= bootstrap_devise_error_messages! %>
      <div class="panel panel-default devise-bs">

        <%= simple_form_for current_user, method: "patch", path: "/cart/checkout/" do |f| %>

              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control' %>

              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control' %>

              <%= f.label :address %>
              <%= f.text_field :address, class: 'form-control' %>

              <%= f.label :city %>
              <%= f.text_field :city, class: 'form-control' %>

              <%= f.label :postal_code %>
              <%= f.text_field :postal_code, class: 'form-control' %>

              <%= f.label :country %>
              <%= f.text_field :country, class: 'form-control' %>

              <% if devise_mapping.rememberable? %>
                    <div class="checkbox">
                      <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
                      <% end %>
                    </div>
                  <% end %>

              <%= f.submit "Update Profil", class: "btn btn-primary", path: 'checkout_patch' %>
            <% end %>
      </div>
    </div>
  </div>
      <%= form_tag charges_path, id:'chargeForm' do %>

          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'stripeEmail' %> 
        <%= hidden_field_tag 'amount', current_cart.price_total.to_i * 100 %>
        <button id="btn-buy" type="btn" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Buy this!</button>
  <% end%> 
</div> 
  <script >
    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      token: function(token, arg) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;

        document.getElementById("chargeForm").submit();
        }
  });
  document.getElementById('btn-buy').addEventListener('click', function(e) {
    handler.open({
      user: "Blabla",
      description: "Buy this item for 4.99$",
      amount: document.getElementById("amount").value
      });
      e.preventDefault();
    })
  </script>

 


                

      
    


