<div class="container">
  <div class="row">
      <h1> Paiement </h1>
    <div class="col-xs-12 col-sd-12 col-md-6 ">
      <h2> Info commande en cours</h2>  
        <% current_cart.order.items.each do |item| %>
            <h3><%= item.product.category.title %> </h3>
            <h5>Name: <%= item.product.title %><h5>
            <p>Price: <%= item.product.price %> Quantity: <%= item.quantity.to_i %></p>
            <% end %>
            <br>
            <p>Sub-Total: <%= current_cart.sub_total %>€</p>
            <p>Shipping Cost: <%= current_cart.shipping_cost %>€</p>
            <p>TVA: <%= current_cart.tva %>€</p>
            <p>Price Total: <%= current_cart.price_total %>€</p>

      <button type="button" class="btn btn-primary" style="color: white"><%= link_to 'Modif Cart', cart_path %></button>
    </div>
    <div class="col-ld-12 col-md-6 col-sd-6 col-xs-6">
      <form class="form-horizontal" id="validateForm" action="/user/" method="post">
        <div class="row">
          <div class="col-md-offset-1 col-md-4"> 
            <div class="form-group">
              <label class="control-label">Prénom:</label>
              <input placeholder="Prénom" class="form-control"  type="text">
            </div>

            <div class="form-group">
              <label class="control-label">Nom:</label>
              <input  name="last_name" placeholder="Nom" class="form-control"  type="text">
            </div>
            
            <div class="form-group">
              <label class="control-label">Tel:</label>
              <input name="phone" placeholder="Numéro de téléphone" class="form-control" type="text">
            </div>
            
            <div class="form-group">
              <label class="control-label">Address:</label>
              <textarea class="form-control" name="address" placeholder="Address..."></textarea>
            </div>

            <div class="form-group">
              <label class="control-label">Zip:</label>
              <input name="zip" placeholder="Zip Code" class="form-control" type="text">
            </div>         
          </div>
          <div class="col-md-offset-1 col-md-4">

            
          
          
          <div class="form-group">
            <button type="submit" path="user_path" method="patch" action="update" class="btn btn-success" >Submit</button>
            </div>

          
		  
	</div>
</div>
 
</form>






      </div>

      <%= form_tag charges_path, id:'chargeForm' do %>

          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        <%= hidden_field_tag 'stripeToken' %>
        <%= hidden_field_tag 'stripeEmail' %> 
        <%= hidden_field_tag 'amount', current_cart.price_total.to_i * 100 %>
        <button id="btn-buy" type="btn" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Buy this!</button>
  <% end%> 
</div> 





  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>



  <script >
    var handler = StripeCheckout.configure({
      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
      token: function(token, arg) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;

        document.getElementById("chargeForm").submit();
        }
  });
  document.getElementById('btn-buy').addEventListener('click', function(e) {
    handler.open({
      user: "Blabla",
      description: "Buy this item for 4.99$",
      amount: document.getElementById("amount").value
      });
      e.preventDefault();
    })






$('#validateForm').bootstrapValidator({
feedbackIcons: {
	valid: 'glyphicon glyphicon-ok',
	invalid: 'glyphicon glyphicon-remove',
	validating: 'glyphicon glyphicon-refresh'
},
fields: {
	first_name: {
		validators: {
			stringLength: {
				min: 2,
				message: 'Votre prénom doit contenir au moins deux caractères'
			},
			notEmpty: {
				message: 'Svp, entrez votre nom complet'
			}
		}
  },
  last_name: {
		validators: {
			stringLength: {
				min: 2,
				message: 'Votre nom doit contenir au moins deux caractères'
			},
			notEmpty: {
				message: 'Svp, entrez votre nom'
			}
		}
	},
	phone: {
		validators: {
			numeric: {
				message: 'Le numéro de téléphone doit être un nombre'
			},
			notEmpty: {
				message: 'Svp, entre votre numéro de téléphone'
			}
		}
  },
  zip: {
		validators: {
			numeric: {
				message: 'Le zip doit être un nombre'
			},
			notEmpty: {
				message: 'Svp, entre votre numéro de téléphone'
			}
		}
	},
	address: {
		validators: {
			stringLength: {
				min: 15,
				max: 100,
				message:'Please enter at least 15 characters and no more than 100'
			},
			notEmpty: {
				message: 'Please Enter Address'
			}
		}
	},
	email: {
		validators: {
			notEmpty: {
				message: 'Please Enter your email address'
			},
			emailAddress: {
				message: 'Please Enter a valid email address'
			}
		}
	},
	password: {
		validators: {
			notEmpty: {
				message: 'Enter your profile password'
			}
		}
	},
	confirmPassword: {
		validators: {
			notEmpty: {
				message: 'Enter confirm your profile password'
			},
			identical: {
				field: 'password',
				message: 'Enter the password, what enter in password field'
			}
		}
	 },
	}
});



  </script>

 


                

      
    


