<div class="banner" >
  <div class="banner-content">
    <h1>WELCOME TO W33D4LIF3</h1>
    <p>Venez découvrir les vertus de l'herbe légale.</p>
  </div>
</div>

<div class="container"   >
  <main class="main-area">        
    <div class="centered">
      <div class="info-cbd">
        <div class="info-content">
          <h1> <i class="fas fa-cannabis"></i>
            Achat en ligne cannabis CBD Premium
            <i class="fas fa-cannabis"></i>
          </h1> 
          <div class="row">
            <div class="col-md-6">
              <div class="wrapper">
                <img class="img-rounded" src="cbd-cannabis-formule.jpg" alt=""/>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="wrapper">
                <div class="wrapper-txt">
                  <h4> Le cannabidiol (CBD) est une molécule dite cannabioïde présente dans la plante de cannabis. </h4>
                  <h4> Elle n'a pas de vertus psychoactives contrairement à sa soeur appellée THC (Tetra Hydro Cannabidiol) qui est le principal élément psychoactif du cannabis. </h4>
                  <h4> Le CBD est donc une molécule non psychoactive jouant de surcroît un rôle inhibiteur de l'effet du THC responsable du « high » que ressentent les consommateurs de marijuana. </h4>
                  <div class="info-cbd">
                    <%= link_to 'En savoir plus', checkout_path, class: "btn btn-primary float-center" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">            
            <div class="col-xs-12 col-sd-pull-6 col-md-6 reorder-xs">
              <div class="wrapper">
                <div class="wrapper-text">
                  <h4> Bienvenue sur Weedlife.be, le spécialiste de la vente en ligne de produits CBD premium Suisses. </h4>
                  <h4> Totalement légaux dans la plupart des pays Européens, nos produits CBD contiennent moins de 0.2% de THC, conformément à la législation. </h4>
                  <h4> Pour les produits contenant plus de 0.2% de THC, nous attirons votre attention que ces derniers sont susceptibles d'être interdits à la vente et à la consommation dans votre pays, et vous invitons à consulter et respecter la législation en vigueur dans votre pays de résidence. </h4>
                  <h4>Nous livrons dans toute l'Europe: France, Belgique, Italie... </h4>
                </div>               
              </div>
            </div>
            <div class="col-xs-12 col-sd-push-6 col-md-6 reorder-xs">
              <div class="wrapper">
                <img class="img-rounded" src="CBD-regulations-europe.jpg" alt="" url="/"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% @categories.each do |category| %>
        <%= link_to category_path(category) do %>
          <h1> 
            <i class="fas fa-cannabis"></i>
            <%= category.title %> 
            <i class="fas fa-cannabis"></i>
          </h1> 
        <% end %> 
        <section class="cards">
          <% category.products.each do |product| %>                
            <article class="card">
              <picture class="img-wrap">
                  <%= cl_image_tag product.photo, crop: :fill %> 
              </picture>
              <div class="card-content">
                <div class="info-wrap">
                    <%= link_to category_product_path(category.id, product.id) do %>
                      <h3><%= product.title %> <% end %> </h3> 
                      <div class="desc">
                          <p><%= product.short_description %>
                        <%= link_to category_product_path(category.id, product.id) do %>
                          <i class="far fa-arrow-alt-circle-right"></i></p> 
                      </div>
                    <%end%>
              
                      <div class="price-wrap">
                        <span class="price-new"><%= number_to_currency product.price %></span>
                        <del class="price-old"><%=number_to_currency product.price * 1.02 %> </del> 
                      </div>
                </div>
                <div class="bottom-wrap">
                  <form class="form-inline" action="/cart/items" method="POST">
                    <div class="form-group">                 
                      <%= hidden_field_tag :product_id, product.id %>
                      <%= hidden_field_tag :category_id, category.id %>
                      <%= hidden_field_tag :photo, product.photo %>
                      <%= number_field_tag :quantity, 1, class: "form-control", min: "1", max: "20"%>      
                    </div>
                    <div class="form-group"> 
                      <%= submit_tag "Add to Cart", class: "btn btn-primary" %>	
                    </div>
                  </form>         
                </div>            
              </div>            
            </article>
          <%end%>
        </section>
      <%end%>
    </div> 
  </main>
</div>