<div class="container">
<div class="row">

  <h1>Tableau de bord Users</h1>
      <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <td>User</td>
          <td>Email</td>
          <td>Prénom</td>
          <td>Nom</td>
          <td>Adresse</td>
          <td>Zip</td>
          <td>Ville</td>
          <td>Pays</td>
        </tr>
      </thead>
        <% @users.each do |user| %> 
      <tbody>
        <tr>
          <td>
              
          <%= link_to 'Delete', admin_user_path(user), class: "btn btn-danger btn-xs", method: "delete" %>
          <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-primary btn-xs" %>
          <%= link_to '$$$', admin_client_path(user), class: "btn btn-success btn-xs" %>
        
          </td>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>

          <td><%= user.address %></td>
          <td><%= user.postal_code %></td>
          <td><%= user.city %></td>
          <td><%= user.country %></td>
        </tr>
      </tbody>
        <% end %>
   </table>
  </div>
</div>
