<div class="container">
  <h1>Tableau de bord Users</h1>
   <% @users.each do |user| %>
    <li>
     <h2> Info Client </h2>
     email: <p> <%= user.email %></p>
     prénom: <p><%= user.first_name %> </p>
     
    </li>
      <h2> Info Commandes Client </h2>
      <% @orders.each do |order| %>
        date création:<%= order.created_at %>
          <% @purchases.where(order_id: order.id, user_id: user.id).each do |purchase| %>
          <li> Date du paiement: <%= purchase.created_at %> </li>
          <li>Prix Final Stripe: <%= purchase.amount %></li>
        <% end %>
        <li><% order.items.each do |item| %><li> 
         <li>Nom du produit: <%= item.product.title %></li>
         <li> Prix du produit: <%= item.product.price %></li>
         <li> Quantité de produit: <%= item.quantity %> </li>
         
         
         
        <% end %>
          <li> Status de la commande: <%= order.status %> </li>
          <li> Prix HTVA: <%= order.sub_total %></li>
          <br>
        </li>
      <% end %>
  <% end %>

</div>
