

<ol>
  <% @products.each do |product| %>
    <li> 
      <%= link_to Category.find(product.category_id).title, category_path(product.category_id) %></td> <br>
      <%= link_to category_product_path(product, product.id) do %>
        <%= product.title %> (<%= number_to_currency product.price %>)
      <% end %>
      <%= link_to "Edit", edit_category_product_path(product, product.id) %>

      <%= form_tag order_items_path do %>
        <%= hidden_field_tag :product_id, product.id %>
        <%= number_field_tag :quantity, 1 %>
        <%= submit_tag "Add to Cart" %>
        <%= link_to "Delete", category_product_path(product, product.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% end %>
<td>
      
<%
=begin %>
      <ul>
        <% product.variants.each do |variant| %>
          <li><%= variant.title %> (<%= number_to_currency variant.price %>)</li>
        <% end %>
      </ul> >
      <%
=end %>
    </li>
    
  <% end %>
</ol>
