<div class="container">
  <div class="row">
    <h1><%= @product.title %> </h1>
    <div class="col-md-6">
      <div class="product-img">
        <%= cl_image_tag @product.photo, crop: :fill %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-info">
      <div class="product-text">
        <h2><%= @product.short_description %></h2>
        <p><%=@product.description%></p>
      </div>
      <div class="product-price-btn">
        <p><span><%= @product.price %> </span>€</p> <br>
            <%= form_tag order_items_path do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= number_field_tag :quantity, 1 %>
            <%= submit_tag "Add to Cart" %>  
            <% end %>
   
      </div>
    </div>
    </div>
  </div>
</div>



            <%
=begin %>
      <ul>
        <% product.variants.each do |variant| %>
          <li><%= variant.title %> (<%= number_to_currency variant.price %>)</li>
        <% end %>
      </ul> >
      <%
=end %>
          
   
    

 
